.header-sec{
    background-image:url(assest/4.0.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.col{
    text-transform: capitalize;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
    
